<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="islandmusic.apm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ** X ** -->
        <!-- ** Main Launcher, asks for a name and then a button click; -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ** X ** -->
        <!-- ** Accepts name and sends to main activity ** -->
        <activity android:name=".StartApp" />

        <!-- ** X ** -->
        <!-- ** Gets called to display Gmap ** -->


        <!-- ** X ** -->
        <!-- ** Main Screen Called after App Start ** -->
        <activity android:name=".MainScreenActivity" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapSelector"
            android:label="@string/title_activity_map_selector">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="islandmusic.apm.MainScreenActivity" />
        </activity>
    </application>

</manifest>